:root {
  --main_color: lightgrey;
  --bg_color: #212529;
  --white: #ffffff;
}

html, body {
    /*font-family: "Lucida Console", "Courier New", monospace;*/
    background-color: var(--bg_color);
    color: var(--main_color);
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    gap: 20px; /* Gap between child elements */
    padding: 20px; /* Spacing around the container */
    font-family: Arial, sans-serif;
}

h3, h4, h6 {
    margin: 0; /* Removes default margins for a tighter layout */
    width: 100%; /* Ensures headers take full width */
    text-align: center;
}

#cpuLoadGauge, #memLoadGauge {
    width: 300px;
    height: 150px;
}

/* Optional: Some basic resets for consistency across browsers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#memLoadGauge, #cpuLoadGauge {
    color: var(--main_color);
    width:50vh;
    height:50vh;
    max-width: 800px
    max-height: 800px
}

